:root {
  --first-para-background: black;
  --last-para-background: red;
  --list-items-background-1: white;
  --list-items-background-2: gray;
  --list-items-background-3: pink;
  background-color: skyblue;
}

p:first-child {
  background-color: black;
  color: white;
}
p:last-child {
  color: red;
}
li:nth-child(2n) {
  background-color: var(--list-items-background-2);
}
li:nth-child(2n + 1) {
  background-color: var(--list-items-background-1);
}
li:nth-child(3) {
  background-color: var(--list-items-background-3);
}
