:root {
  --color_black: black;
  --color_stalegray: gray;
  --color_pink: pink;
  --color_skyblue: rgb(135, 206, 235);
  --color_red: red;
  --color_white: white;
  background-color: rgb(135, 206, 235);
}
p:first-child {
  background-color: var(--color_black);
  color: var(--color_white) !important;
}
p:last-child {
  background-color: inherit;
  color: var(--color_red) !important;
}
li:nth-child(2n) {
  background-color: var(--color_stalegray);
}
li:nth-child(2n + 1) {
  background-color: var(--color_white);
}
li:nth-child(3) {
  background-color: var(--color_pink);
}
